---
title: gDMD-SIM
description: We've built an amazing team of developers, marketers, designers and sales people.
image: /photos/gDMD-SIM_cell.jpg
---

<section class="hero" style="background-image: url({% include relative-src.html src=page.image %})">
	<div class="inner-hero text-container">
		<div class="hero-text-container">
			<h1 class="editable">gDMD-SIM</h1>
			<p class="subtext editable">Easily scalable multi-color digital micromirror device (DMD)-based structured illumination microscopy.</p>
		</div>
	</div>
	<div class="learn-more"><a href="#learn-more">learn more <span class="arrow">&#x25BC;</span></a></div>
</section>

<div class="content">
	<section class="info" id="learn-more">
		<div class="container flex">
			<div class="text">
				<h2 class="editable">gDMD-SIM system</h2>
				<p class="editable">The gDMD-SIM offers a general solution to the multi-color DMD SIM challenge. Although being widely used for SIM pattern genration due to their high speed & low cost, DMD's blazed grating structure causes strong wavelength-dependent dispersion, thus severly hampering multi-color imaging application. The gDMD-SIM system employs an additional blazed grating to compensate the dispersion, and can easily allow for multi-color SIM imaging with a wide range of excitation beams with minimal effort. </p>
				<p class="editable">Figure: 2D and 3D schematics of the gDMD-SIM setup.</p>
			</div>
			<div class="image">
				<img class="editable" src="/photos/gDMD-SIM_setup.png" alt="gDMD-SIM_setup" />
			</div>
		</div>
	</section>
	<section class="info" id="gDMD-SIM">
		<div class="container flex">
			<div class="text">
				<h2 class="editable">gDMD-SIM</h2>
				<p class="editable">I study optical microscopy.</p>
				<p class="editable">PhD candidate in Biophysics, Univ. of Chicago.</p>
				<!-- <p class="editable">BS in Applied Physics, Univ. of Sci. & Tech. of China (USTC), 2019.</p> -->
			</div>
			<div class="image">
				<img class="editable" src="/photos/gDMD-SIM_pattern.gif" alt="gDMD-SIM_setup" />
			</div>
		</div>
	</section>
	<section class="info" id="gDMD-SIM">
		<div class="container flex">
			<div class="text">
				<h2 class="editable">gDMD-SIM</h2>
				<p class="editable">I study optical microscopy.</p>
				<p class="editable">PhD candidate in Biophysics, Univ. of Chicago.</p>
				<p class="editable">Email: <a href=mailto:dzgong@uchicago.edu>dzgong@uchicago.edu</a></p>
				<!-- <p class="editable">BS in Applied Physics, Univ. of Sci. & Tech. of China (USTC), 2019.</p> -->
			</div>
			<div class="image">
				<img class="editable" src="/photos/gDMD-SIM_TimeSeries.gif" alt="gDMD-SIM_setup" />
			</div>
		</div>
	</section>
</div>

<!-- <section class="pad">
	<div class="container">
		<p class="editor-link"><a href="cloudcannon:collections/_staff_members" class="btn"><strong>&#9998;</strong> Manage Staff Members</a></p>
		<ul class="staff">
			{% for person in site.staff_members %}
				<li>
					<div class="square-image" style="background-image: url({% include relative-src.html src=person.image_path %})"></div>
					<div class="name"><a target="_blank" href="https://twitter.com/{{ person.twitter_username }}">{{ person.name }}</a></div>
					<div class="position">{{ person.position }}</div>
				</li>
			{% endfor %}
		</ul>
	</div>
</section> -->


