---
title: TACO
description: We've built an amazing team of developers, marketers, designers and sales people.
image: /photos/TACO_cell.jpg
---

<section class="hero" style="background-image: url({% include relative-src.html src=page.image %})">
	<div class="inner-hero text-container">
		<div class="hero-text-container">
			<h1 class="editable">TACO</h1>
			<p class="subtext editable">Tandem Aberration Correction Optics (TACO) system for high quality super-resolution SIM imaging through strong aberrating medium.</p>
			<p class="subtext editable"><a href="/papers/Gong and Scherer - 2023 - Tandem aberration correction optics (TACO) in wide.pdf">Read full paper</a>
			</p>
		</div>
	</div>
	<div class="learn-more"><a href="#learn-more">learn more <span class="arrow">&#x25BC;</span></a></div>
</section>

<div class="content">
	<section class="info" id="learn-more">
		<div class="container flex">
			<div class="text">
				<h2 class="editable">TACO setup</h2>
				<p class="editable">The TACO system is designed for correcting the different types of aberrations of Structured Illumination Microscopy (SIM) separately. TACO incorporates a spatial light modulatior (SLM) for conjugate adaptive optics (AO) in the illumination path to compensate for the long neglecated local (spatial-variant) aberrations in SIM illumination, while a deformable mirror (DM) is implemented in the detection path as a classic pupil adaptive optics (AO) component to correct for global aberrations. </p>
				<p class="editable"> Figure: 2D and 3D schematics of the TACO system setup.</p>
			</div>
			<div class="image">
				<img class="editable" src="/photos/TACO_setup.jpg" alt="TACO_setup" />
			</div>
		</div>
	</section>

	<section class="info">
		<div class="container flex">
			<div class="text">
				<h2 class="editable">Conjugate AO</h2>
				<p class="editable">The sinusoidal pattern of SIM illumination is known to be "immune" to global aberrations, but suffers from local aberrations. TACO utilizes an stochastic paralleled gradient descent (SPGD) based algorithm to optimize the phase modulation of the SLM at the conjugate plane of the illumination and counteracts the spatially varying distortions of SIM pattern.</p>
				<p class="editable">Figure: A typical optimization process of the conjugate AO for local aberrations.</p>
			</div>
			<div class="image">
				<img class="editable" src="/photos/TACO_conjugate.gif" alt="TACO_pattern" />
			</div>
		</div>
	</section>

	<section class="info">
		<div class="container flex">
			<div class="text">
				<h2 class="editable">Pupil AO</h2>
				<p class="editable">TACO further utilizes a DM to do Zernike-polynomial based pupil AO in the detection path of SIM to correct for all the possible global aberrations such as spherical aberation, coma, astigmatism. </p>
				<p class="editable">Figure: A typical optimization process of the pupil AO for global aberrations.</p>
			</div>
			<div class="image">
				<img class="editable" src="/photos/TACO_pupil.gif" alt="TACO_pattern" />
			</div>
		</div>
	</section>

	<section class="info">
		<div class="container flex">
			<div class="text">
				<h2 class="editable">TACO-SIM imaging</h2>
				<p class="editable">With the aberration correction by TACO, high quality SIM imaging can be achieved even through strongly aberrating medium, allowing for super-resolution imaging in both lateral and axial directions with high fidelity and robustness.</p>
				<p class="editable"> Figure: WF and SIM images of the phalloidin labeled actin in a human melanoma cell.</p>
			</div>
			<div class="image">
				<img class="editable" src="/photos/TACO_cell.gif" alt="TACO_pattern" />
			</div>
		</div>
	</section>
</div>



<!-- <section class="pad">
	<div class="container">
		<p class="editor-link"><a href="cloudcannon:collections/_staff_members" class="btn"><strong>&#9998;</strong> Manage Staff Members</a></p>
		<ul class="staff">
			{% for person in site.staff_members %}
				<li>
					<div class="square-image" style="background-image: url({% include relative-src.html src=person.image_path %})"></div>
					<div class="name"><a target="_blank" href="https://twitter.com/{{ person.twitter_username }}">{{ person.name }}</a></div>
					<div class="position">{{ person.position }}</div>
				</li>
			{% endfor %}
		</ul>
	</div>
</section> -->


