---
title: VMAP
description: Voltage mapping by activated photocycle.
image: /photos/TACO_cell.jpg
---

<section class="hero" style="background-image: url({% include relative-src.html src=page.image %})">
	<div class="inner-hero text-container">
		<div class="hero-text-container">
			<h1 class="editable">VMAP</h1>
			<p class="subtext editable">Voltage Mapping by Activated Photocycle (VMAP).</p>
			<!-- TODO: add VMAP paper link when available
			<p class="subtext editable"><a href="/papers/VMAP.pdf">Read full paper</a></p>
			-->
		</div>
	</div>
	<div class="learn-more"><a href="#learn-more">learn more <span class="arrow">&#x25BC;</span></a></div>
</section>

<div class="content">
	<section class="info" id="learn-more">
		<div class="container flex">
			<div class="text">
				<h2 class="editable">VMAP overview</h2>
				<p class='editable'>TODO: describe the VMAP method here.</p>
				<p class="editable">Figure: TODO caption.</p>
			</div>
			<div class="image">
				<!-- TODO: replace with a VMAP figure -->
				<img class="editable" src="/photos/TACO_setup.jpg" alt="VMAP_setup" />
			</div>
		</div>
	</section>

	<section class="info">
		<div class="container flex">
			<div class="text">
				<h2 class="editable">Section 2</h2>
				<p class="editable">TODO: VMAP content.</p>
				<p class="editable">Figure: TODO caption.</p>
			</div>
			<div class="image">
				<!-- TODO: replace with a VMAP figure -->
				<img class="editable" src="/photos/TACO_conjugate.gif" alt="VMAP_figure" />
			</div>
		</div>
	</section>

	<section class="info">
		<div class="container flex">
			<div class="text">
				<h2 class="editable">Section 3</h2>
				<p class="editable">TODO: VMAP content.</p>
				<p class="editable">Figure: TODO caption.</p>
			</div>
			<div class="image">
				<!-- TODO: replace with a VMAP figure -->
				<img class="editable" src="/photos/TACO_pupil.gif" alt="VMAP_figure" />
			</div>
		</div>
	</section>

	<section class="info">
		<div class="container flex">
			<div class="text">
				<h2 class="editable">Section 4</h2>
				<p class="editable">TODO: VMAP content.</p>
				<p class="editable">Figure: TODO caption.</p>
			</div>
			<div class="image">
				<!-- TODO: replace with a VMAP figure -->
				<img class="editable" src="/photos/TACO_cell.gif" alt="VMAP_figure" />
			</div>
		</div>
	</section>
</div>



<!-- <section class="pad">
	<div class="container">
		<p class="editor-link"><a href="cloudcannon:collections/_staff_members" class="btn"><strong>&#9998;</strong> Manage Staff Members</a></p>
		<ul class="staff">
			{% for person in site.staff_members %}
				<li>
					<div class="square-image" style="background-image: url({% include relative-src.html src=person.image_path %})"></div>
					<div class="name"><a target="_blank" href="https://twitter.com/{{ person.twitter_username }}">{{ person.name }}</a></div>
					<div class="position">{{ person.position }}</div>
				</li>
			{% endfor %}
		</ul>
	</div>
</section> -->


